.card-form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.card-form-container label {
  display: flex;
  flex-direction: column;
}

.card-form-container textarea {
  height: 2rem;
  width: 100%;
}
